.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a{
  color: #fff;
  text-decoration: none;
}
.bg-color{
  background-color: #0A0B1A;
}
.heading h2{
  color: #fff;
  position: relative
}
.heading h2::after{
  position: absolute;
  content: '';
  display: block;
  width: 80px;
  margin-top: 8px;
  border: 2px solid #0259EB;
}
